body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #222;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  section {
    padding: 20px;
  }
}

.dark-mode {
  background: #111;
  color: white;
}
body{
  background: #111;
  color: white;
}