body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f3816;
  color: #f1f7f2;

}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
}
nav{
  display: flex;
  background: #3f1b1b;
}

@media (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  section {
    padding: 20px;
  }
}

.dark-mode {
  background: #111;
  color: white;
}
.btnMessage {
  background: #3f1b1b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
.btnMessage:hover {
  background: #5a1b1b;
}
.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
  margin-top: 50px;
  gap: 20px;
  
}
h1 {
  text-align: center;
  margin-top: 50px;
}
